In [1]:
import pandas as pd

training_data = pd.read_csv('../data/raw/train.csv')

In [2]:
training_data.head(5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
training_data.groupby('target').describe()

            id                                                           \
         count         mean          std   min      25%     50%     75%
target
0       4342.0  5276.446338  3157.206802  23.0  2513.25  5243.5  8038.5
1       3271.0  5661.608071  3097.094809   1.0  3104.50  5676.0  8252.0


            max
target
0       10848.0
1       10873.0