In [11]:
import pandas as pd

training_data = pd.read_csv('../data/raw/train.csv')
test_data = pd.read_csv('../data/raw/test.csv')

In [3]:
training_data.head(5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
training_data.groupby('target').describe()

            id                                                           \
         count         mean          std   min      25%     50%     75%
target
0       4342.0  5276.446338  3157.206802  23.0  2513.25  5243.5  8038.5
1       3271.0  5661.608071  3097.094809   1.0  3104.50  5676.0  8252.0


            max
target
0       10848.0
1       10873.0

In [17]:
searched_keyword = '%s'
contains_string = training_data['text'].str.contains(searched_keyword)
count = contains_string.sum()
rows_with_string = training_data[contains_string]

print(f'Number of rows with {searched_keyword}: {count}')
print(f'Rows with {searched_keyword}: ')
print(rows_with_string)

Number of rows with [%s]: 7173
Rows with [%s]:
         id keyword location  \
0         1     NaN      NaN
1         4     NaN      NaN
2         5     NaN      NaN
3         6     NaN      NaN
4         7     NaN      NaN
...     ...     ...      ...
7607  10867     NaN      NaN
7608  10869     NaN      NaN
7609  10870     NaN      NaN
7611  10872     NaN      NaN
7612  10873     NaN      NaN

                                                   text  target
0     Our Deeds are the Reason of this #earthquake M...       1
1                Forest fire near La Ronge Sask. Canada       1
2     All residents asked to 'shelter in place' are ...       1
3     13,000 people receive #wildfires evacuation or...       1
4     Just got sent this photo from Ruby #Alaska as ...       1
...                                                 ...     ...
7607  #stormchase Violent Record Breaking EF-5 El Re...       1
7608  Two giant cranes holding a bridge collapse int...       1
7609  @aria_ahrary @TheTawniest The out of control w...       1
7611  Police investigating after an e-bike collided ...       1
7612  The Latest: More Homes Razed by Northern Calif...       1

[7173 rows x 5 columns]

In [18]:
training_data['word_count'] = training_data['text'].apply(lambda x: len(str(x).split()))
total_word_count = training_data['word_count'].sum()

print(f'Total word count: {total_word_count}')

Total word count: 113461